:root {
    --font-color: #000;
    --primary-color: #0a3323;
    --secondary-color: #839958;
    --bg-color: #f7f4e1;
    --accent-color: #d3968c;
    --border-color: #105666;
    --font-family: 'SN Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 8px 11px rgb(14 55 54 /15%);
    padding: 20px 100px;
    transition: 0.5s;
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--bg-color);
}

/* Logo */
.logo {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;

    span {
        color: var(--accent-color);
    }
}

/* Navigation */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    li a {
        color: var(--bg-color);
        font-size: 16px;
        font-weight: 500;
        padding: 5px 10px;
        transition: 0.3s;
    }

    li a:hover,
    .home-active {
        background-color: var(--accent-color);
        color: var(--bg-color);
        border-radius: 15px;
    }
}

/* Home */
.home {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 8rem 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: left;
    }
}

/* About */
.about {
    max-width: 968px;
    background-color: var(--bg-color);
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    span {
        color: var(--secondary-color);
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Categories */
.categories {
    max-width: 968px;
    background-color: var(--bg-color);
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    span {
        color: var(--secondary-color);
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Categories Card */
.categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.categoryCard {
    background: var(--secondary-color);
    position: relative;
    padding: 1.5rem;
    border-radius: 0.45rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    p {
        font-size: .9rem;
        color: var(--primary-color);
        text-align: center;
    }
}

.categoryButton {
    display: block;
    border: none;
    width: 100%;
    margin: 1rem auto 0;
    padding: 0.6rem 1rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: .45rem;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-align: center;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}

.categoryButton:hover {
    background-color: var(--border-color);
    color: var(--bg-color);
}

/* Products */
.products,
.featuredProducts {
    max-width: 968px;
    background-color: var(--bg-color);
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    span {
        color: var(--secondary-color);
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Products Tab Button */
.productsTabButton {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;

    .tabButton {
        padding: 0.5rem 1rem;
        background: var(--bg-color);
        color: var(--primary-color);
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 400;
        transition: transform 0.5s ease-out;
        cursor: pointer;
        box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    }

    .tabButton:hover {
        background: var(--border-color);
        color: var(--bg-color);
    }

    .tabButton.active {
        background: var(--border-color);
        color: var(--bg-color);
    }

    ::not(.active) {
        display: none;
    }

}

/* Products Card */
.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.productCard {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 0.45rem;
    box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: center;
        display: block;
        margin-bottom: 0.5rem;
    }

    span {
        font-size: 0.8rem;
        font-weight: 400;
        color: var(--primary-color);
    }

    h2 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: var(--primary-color);
    }
}

.productRating {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 1rem;
}

/* Products View All Button */
.productsViewAllButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    a {
        padding: 0.5rem 1rem;
        background: var(--bg-color);
        color: var(--primary-color);
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 400;
        transition: transform 0.5s ease-out;
        cursor: pointer;
        box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    }

    a:hover {
        background: var(--border-color);
        color: var(--bg-color)
    }
}

/* Contact */
.contact {
    max-width: 968px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: .25rem;
        text-align: center;
    }

    span {
        color: var(--secondary-color);
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
    }

}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--bg-color);
    margin-top: 2rem;
    padding: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        display: flex;
        margin-bottom: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        padding: 0 15px;
        margin-bottom: 16px;
    }

    a {
        font-size: 14px;
        font-weight: 500;
        color: var(--bg-color);
        transition: .3s;
    }

    a:hover {
        color: var(--accent-color);
    }

    i {
        cursor: pointer;
        font-size: 30px;
    }

    p {
        text-align: center;
    }
}

/*Header All Products*/
.headerAllProducts {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 8px 11px rgb(14 55 54 /15%);
    padding: 20px 100px;
    transition: 0.5s;
}

/* All Products */
.allproducts {
    max-width: 968px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
        text-align: center;
    }

    span {
        color: var(--secondary-color);
    }
}

/* Search Box All */
.searchBoxAll {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: .25rem;

    input {
        width: 100%;
        height: 40px;
        border: 1.5px solid var(--primary-color);
        outline: none;
        background: var(--bg-color);
        border-radius: 50px;
        color: var(--primary-color);
        font-size: 14px;
        text-align: left;
        padding: 0 55px 0 10px;
    }

    input::placeholder {
        color: var(--primary-color);
    }

    button {
        cursor: pointer;
        position: absolute;
        right: 19px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--primary-color);
        border: none;
        border-radius: 50px;
        color: var(--bg-color);
        width: 35px;
        height: 35px;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Categories Tab Button */
.categoriesTabButton {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    padding: 1rem;

    .tabButton {
        padding: 0.5rem 1rem;
        background: var(--bg-color);
        color: var(--primary-color);
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 400;
        transition: transform 0.5s ease-out;
        cursor: pointer;
        box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    }

    .tabButton:hover {
        background: var(--border-color);
        color: var(--bg-color)
    }

    .tabButton.active {
        background: var(--border-color);
        color: var(--bg-color);
    }

    ::not(.active) {
        display: none;
    }

}

/* All Products Grid */
.detailsProduct {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 70px;
    align-items: stretch;
}

.detailsProduct .single-pro-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
}

#MainImg {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    margin-bottom: 12px;
}

.small-image-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.detailsProduct .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

.detailsProduct .single-pro-details h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.detailsProduct .single-pro-details h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.detailsProduct .single-pro-details h3 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

.sizeOptions {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;
}

.sizeOption {
    padding: 2px 5px;
    border: 2.5px solid #e2e2e2;
    border-radius: 10px;
    cursor: pointer;
}

.sizeOption.active {
    background: var(--border-color);
    color: var(--bg-color);
}

.sizeOption:hover {
    background: var(--border-color);
    color: var(--bg-color);
}

.reviewBuyer {
    margin-bottom: 20px;
}

.cardReview {
    padding: .5rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--bg-color);
    border-radius: .5rem;
    box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
}

.cardReview img {
    max-width: 50px;
    border-radius: 100%;
}

.cardReviewContent {
    display: flex;
    gap: 1rem;
}

.cardReviewContent span {
    font-size: 2rem;
    color: var(--primary-color);
}

.cardDetails p {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.buyButton {
    display: block;
    padding: 10px 20px;
    background: var(--border-color);
    color: var(--bg-color);
    border-radius: .5rem;
    font-size: 1.15rem;
    font-weight: 400;
    transition: transform 0.5s ease-out;
    cursor: pointer;
    box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
    margin-bottom: 15px;
}

#productdetails .single-pro-details input:focus {
    outline: none;
}

#productdetails .single-pro-details span {
    line-height: 25px;
}

.productRatingDetails {
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.featuredProducts h2 {
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .header,
    .headerAllProducts {
        padding: 15px 30px;
    }

    .hamburger {
        display: block;
    }

    .navBar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: var(--primary-color);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 1.5rem;
        transition: 0.5s;
        box-shadow: 0 8px 11px rgb(14 55 54 /15%);
    }

    .navBar.active {
        left: 0;
    }

    ::not(.active) {
        display: none;
    }
}

@media (max-width: 477px) {
    .header {
        padding: 10px 20px;
    }

    #productdetails {
        display: flex;
        flex-direction: column;
    }

    #productdetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #productdetails .single-pro-details {
        width: 100%;
    }
}

.productDisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    span {
        color: var(--primary-color);
    }
}

.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    background: #f9f9f9;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cat-label {
    font-size: 0.8rem;
    color: #888;
}